body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 0.3rem solid black;
}

.gridChild{
    box-sizing: border-box;
    border: 1px solid black;
}

.defaultGridChildColor{
    background-color: white;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#utilityContainer{
    gap: 20px;
    align-items: center;
    text-align: center;
}

#buttonHolder{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#outputHolder{
    align-items: center;
}

#clearBtn{
    width: 50px;
    margin: auto;
}