#gridContainer{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 0.3rem solid black;
}

.gridChild{
    box-sizing: border-box;
    border: 1px solid black;
}

.defaultGridChildColor{
    background-color: white;
}